$default-font-family: 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
'Noto Sans', 'Liberation Sans', 'sans-serif';
$default-text-color: #000;
$default-text-size: 1rem;
$default-bg-color: #fff;

$default-menu-bg-color: #343a40;
$default-menu-color: #fff;
$default-menu-separator-color: #bb88;

$default-outline-color: #41b883;
$default-table-stripped-color: adjust-color($default-outline-color, $alpha: -0.9);
//rgba(65, 184, 131, .15)

$default-menu-btn-bg-color: #5c636a;
$default-select-button-bg: #0070BA;

