$default-font-family: 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
'Noto Sans', 'Liberation Sans', 'sans-serif';
$default-text-color: #000;
$default-text-size: 1rem;
$default-bg-color: #fff;

$default-menu-bg-color: #343a40;
$default-menu-color: #fff;
$default-menu-separator-color: #bb88;
